name: Run Crawler - Update data

on:
  workflow_dispatch:
#  schedule:
#    - cron: '*/5 * * * *' # 5분에 한번씩 실행

jobs:
  crawl:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'
          
      - run: yarn install
      
      - run: yarn start
        env:
          S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
          AWS_ENDPOINT_URL: ${{ secrets.AWS_ENDPOINT_URL }}
          AWS_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.R2_ACCESS_SECRET }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          REGISTER_URL: ${{ secrets.REGISTER_URL }}
          REGISTER_API_KEY: ${{ secrets.REGISTER_API_KEY }}

      - name : Commit and Push (Update DB)
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update Crawled Data
